@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-winered: #770b1f;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-gothik: var(--font-gothik);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background text-foreground;
  background-image: url("/noise.png"),
    url("data:image/svg+xml,%3Csvg width='160' height='160' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3CfeComponentTransfer%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 1'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3C/defs%3E%3Cg fill='%23808080' fill-opacity='1' fill-rule='evenodd'%3E%3Crect x='0' y='0' width='40' height='40'/%3E%3Crect x='40' y='40' width='40' height='40'/%3E%3C/g%3E%3Crect x='0' y='0' width='80' height='80' filter='url(%23noise)' opacity='0.15'/%3E%3C/svg%3E");
  background-blend-mode: overlay, normal;
}

h1 {
  color: var(--color-winered);
  /* text-shadow: 1px 1px 0 #fff, 2px 2px 0 #fff, 3px 3px 3px rgba(0, 0, 0, 0.4); */
  /* -webkit-text-stroke: 0.5px white; */
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 #fff;
}
